<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Hobby</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Reviews</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of coaches; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{c.name}}</td>
                <td>{{c.hobby}}</td>
                <td>{{c.country}}</td>
                <td>{{c.city}}</td>
                <td><button type="button" (click)="selectReviews(c)" class="btn btn-primary btn-sm">View</button></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="coach" style="max-height: 55vh; overflow-y: scroll;">
        <app-reviews [coach]="coach" (voted)="onVoted($event)"></app-reviews>
    </div>
</div>
